In [24]:
#T.Bradford
#July 2021
import pandas as pd

In [28]:
cities = pd.read_csv("Resources/cities.csv")
cities.head(1)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.6,6.93

In [30]:
cities.to_html("cities.html",index=False)